* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

a,
a:hover {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

.header-section {
    width: 100%;
    /* height: 100vh; */
    background: url("../images/Home.png") center top no-repeat;
    background-size: cover;
}


/* *********************************************
Global css code for title
******************************************** */

.title {
    width: 100%;
}

.title h6 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    color: #008ed6;
}

.inner-banner h1 {
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: none;
    line-height: 53px;
    margin: 20px 0px;
}


/* *********************************************
Global css code for title End
******************************************** */

.mainmenu {
    width: 100%;
}

.mainmenu .bg-light {
    background: transparent!important;
}

.mainmenu .navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    background: url("../images/Prostokąt\ 2.png") center bottom no-repeat;
    background-size: auto;
}

.mainmenu .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px 10px;
}

.mainmenu .navbar-light .navbar-nav .nav-link:hover,
.mainmenu .navbar-light .navbar-nav .nav-link:focus {
    background: url("../images/Prostokąt\ 2.png") center bottom no-repeat;
    background-size: auto;
}


/* banner section code start */

.banner {
    width: 100%;
    padding: 100px 0px;
}

.inner-banner {
    width: 100%;
    padding: 40px 0px;
}

.inner-banner h6 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    color: #008ed6;
}

.inner-banner h1 {
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: none;
    line-height: 53px;
    color: #fff;
    margin: 20px 0px;
}

.inner-banner p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: none;
    line-height: 26px;
    color: #999999;
}

.inner-btn {
    width: 100%;
    margin: 50px 0px 0px;
}

.inner-btn .btn-primary {
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #008ed6;
    border: 1px solid #008ed6;
    color: #fff;
    border-radius: 2px;
    margin-right: 15px;
    transition: 1s;
}

.inner-btn .btn-primary:hover,
.inner-btn .btn-primary:focus {
    background: transparent;
    border: 1px solid #999999;
    color: #008ed6;
}

.inner-btn .btn-light {
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    border: 1px solid#999999;
    color: #fff;
    border-radius: 2px;
    transition: 1s;
}

.inner-btn .btn-light:hover,
.inner-btn .btn-light:focus {
    background: transparent;
    border: 1px solid #008ed6;
    color: #fff;
}

.feature {
    width: 100%;
    padding: 80px 0px;
}

.feature .title {
    text-align: center;
}

.inner-features {
    width: 100%;
    padding: 40px 20px 0px;
    text-align: center;
}

.icons-inner {
    width: 95px;
    height: 95px;
    line-height: 95px;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 100%;
}

.inner-features h4 {
    font-size: 20px;
    margin: 20px 0px;
    font-weight: 600;
    color: #000;
}

.inner-features p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: none;
    line-height: 26px;
    color: #999999;
}

.about-long {
    width: 100%;
    padding: 80px 0px;
    border-top: 1px solid #eee;
}

.about-long .title {
    margin-bottom: 20px;
}

.inner-about-long {
    width: 100%;
    margin-top: 45px;
}

.inner-about-long p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: none;
    line-height: 26px;
    color: #999999;
}

.inner-about-long .list-ablong {
    font-size: 18px;
    font-weight: 700;
    line-height: 38px;
    color: #000;
    margin-top: 30px;
}

.inner-about-long .list-ablong img {
    margin-right: 15px;
    width: 11px;
}

.about-sort {
    width: 100%;
    padding: 80px 0px;
    background: #f2f2f2;
}

.inner-about-sort {
    width: 100%;
    margin-top: 90px;
}

.inner-about-sort .title {
    margin-bottom: 20px;
}

.inner-about-sort p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 26px;
    color: #999999;
}

.testimonials {
    width: 100%;
    padding: 80px 0px;
    background: url("../images/BACK\ 8.png")center top no-repeat;
    background-size: covers;
}

.testimonials .title {
    text-align: center;
    margin-bottom: 50px;
}

.testimonials .title h1 {
    color: #fff;
}

.testimonials .owl-carousel .owl-item h4 {
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    font-style: italic;
}

.testimonials .owl-carousel .owl-item img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.testimonials .owl-carousel .owl-item p {
    margin-top: 18px;
    margin-bottom: 0;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}

.testimonials .owl-carousel .owl-item h5 {
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}

.testimonials .owl-carousel .owl-item mar {
    margin: 50px 0px 0px;
}

.testimonials .owl-theme .owl-nav .disabled .owl-dots {
    margin-top: 77px;
}

.testimonials .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 98px;
}

.eye-catcher {
    width: 100%;
    padding: 40px 0px;
    background-color: #000;
}

.eye-catcher h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

.inner-btn {
    width: 100%;
    margin: 0px 0px 0px;
}

.inner-btn .btn-primary {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #008ed6;
    border: 1px solid #008ed6;
    color: #fff;
    border-radius: 2px;
    transition: 1s;
}

.inner-btn .btn-primary:hover,
.inner-btn .btn-primary:focus {
    background: transparent;
    border: 1px solid #999999;
    color: #008ed6;
}

.inner-btn .btn-light {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    border: 1px solid#999999;
    color: #fff;
    border-radius: 2px;
    transition: 1s;
}

.inner-btn .btn-light:hover,
.inner-btn .btn-light:focus {
    background: transparent;
    border: 1px solid #008ed6;
}

.price-table {
    width: 100%;
    padding: 80px 0px;
}

.price-table .title {
    text-align: center;
    margin-bottom: 50px;
}

.main-price {
    width: 100%;
    border: 1px solid#eee;
    text-align: center;
}

.price-head {
    width: 100%;
    padding: 15px 0px;
    border: 1px solid#eee;
}

.price-head h2 {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.price-inner {
    width: 100%;
    padding: 30px 0px;
    border-bottom: 1px solid #eee;
}

.price-inner h1 {
    margin-bottom: 0px;
    font-size: 60px;
    font-weight: 7000;
    text-transform: uppercase;
    color: #000;
}

.price-inner h1 sup {
    top: -0.5em;
    font-size: 30px;
    font-weight: 500;
}

.price-inner p {
    font-size: 14px;
    margin: -11px 0px 0px;
    color: #999999;
}

.price-content {
    width: 100%;
    padding: 40px 20px;
}

.price-content p {
    font-size: 14px;
    margin: 0px 0px 30px;
    color: #999999;
}

.price-content p a {
    color: #08c;
}

.price-content .btn-info {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    border: 1px solid #eee;
    color: #008ed6;
    border-radius: 2px;
    transition: 1s;
}

.main-price:hover .price-content .btn-info,
.main-price .price-content .btn-info:focus {
    background: #008ed6;
    border: 1px solid #008ed6;
    color: #fff;
}

.main-price:hover .price-head h2 {
    color: #008ed6;
}

.main-price:hover .price-inner {
    background: #008ed6;
}

.main-price:hover .price-inner h1,
.main-price:hover .price-inner p {
    color: #fff;
}

.contact-us {
    width: 100%;
    padding: 80px 0px 0px;
    background: #eee;
}

.contact-us .title {
    text-align: center;
    margin-bottom: 50px;
}

.info {
    width: 100%;
    padding: 40px 0px;
    text-align: center;
}

.info .fa {
    font-size: 32px;
    color: #008ed6;
    margin-bottom: 20px;
}

.info p {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.main-form {
    width: 100%;
    padding: 80px 60px;
    background: #15141a;
    margin: -14px;
    position: relative;
    z-index: 1;
}

.main-form .form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #eee;
    background-color: transparent;
    border: 1px solid #444348;
    text-transform: uppercase;
}

.main-form .text-right {
    text-align: right;
}

.main-form .btn-info {
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #008ed6;
    border: 1px solid #008ed6;
    color: #fff;
    border-radius: 2px;
    transition: 1s;
}

.main-form .btn-info :hover,
.price-content .btn-info,
.main-price .price-content .btn-info:focus {
    background: transparent;
    border: 1px solid #008ed6;
    color: #008ed6;
}

.map {
    width: 100%;
}

.footer {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background: #15141a;
}

.footer .fa {
    margin: 0 10px;
    font-size: 24px;
    color: #444348;
    margin-bottom: 20px;
}